<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{%static 'mabibliotheque/style.css'%}">
<title>index</title>
</head>
<body>
<h1 class="titreprincipale"> Bibliotheque de film </h1>
<a class="cadretitre" href="/mabibliotheque/index"> listes de film</a>
<a class="cadretitre" href="/mabibliotheque/index2"> listes d'acteurs</a>
<a class="cadretitre" href="/mabibliotheque/ajout"> répertorié un film </a>
<a class="cadretitre" href="/mabibliotheque/formulaire2"> répertorier un acteur</a>


{% block content %}
<ol> <h3> Ma liste de films</h3>
    {% for l in liste %}
        <li> {{l}} <a href="/mabibliotheque/affiche/{{l.id}}/">montrer</a> <a href="/mabibliotheque/update/{{l.id}}/"> editer</a> <a href="/mabibliotheque/delete/{{l.id}}/"> supprimer</a></li>
    {% endfor %}
</ol>
{% endblock %}
</body>
</html>
